Pyrogram==2.0.106
py-tgcalls==2.2.11
tgcrypto
telethon
requests
yt_dlp
youtube_search
redis
pytz
hijri_converter
akinator
pySmartDL
pysocket
py-cpuinfo
psutil
SpeechRecognition
pydub
gTTS
ffprobe
pillow
mutagen
wget
pytube
shazamio
pytio
telegraph
meval==2.5
httpx[http2]>=0.18.1,<1.0.0
aiohttp
aiofiles
python-arq
kvsqlite
beautifulsoup4
lxml
python-dateutil
gitpython
python-dotenv
ffmpeg-python
aiosqlite
